<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digit Prediction App</title>
</head>

<body>
    <div class="card">
        <h1>Digit Prediction</h1>
        <form class="form" action="/" method="POST" enctype="multipart/form-data">
            <div class = "inputfield">
                <label>Drop the image here </label>
                <input name ="input-image" type="file" accept="image/*">
                <input class="btn" type="submit" value="Precict Number">
            </div>

            <div>
                {% if pred_number != -1  %}
                <p>Predicted Number is {{pred_number}}</p>
                {% endif %}
            </div>
        </form>
        <p>⚠️ Results may vary — model accuracy ~97%</p>
    </div>
</body>
</html>
