<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handwritten Digit Predictor</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <form class="forms" action="/" method = "POST" enctype="multipart/form-data">
            
            <h1 id = "heading"> - Minst Image Predictor - </h1>
            <input type="file" name="image"> 
            <label>Uplaod the image Here!</label>
            <button type="submit" id="button"> predict </button>
        
        
        </form>

        <div class = "result">
            {% if pred_vlaue != 0 %}
            <p>Predicted Number : {{pred_value}} </p>
            {% endif %}
        </div>
    </div>
</body>

</html>